<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- Android 9(API 28)+ 포그라운드 서비스 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- Android 14(API 34)+ 위치 타입 명시 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
</manifest>